
.idea/CSE3063F24P1_GRP17.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
.log
.idea/
main/__pycache__/
databaseController/__pycache__/
main\__pycache__\
databaseController\__pycache__\
*.pyc
*.log
